@model UdemyIdentity.ViewModels.PasswordResetViewModel
@{
    ViewData["Title"] = "ResetPasswordConfirm";
}



<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Giriş Yap</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/GirisYap/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/GirisYap/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/GirisYap/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/GirisYap/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/GirisYap/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/GirisYap/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/GirisYap/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/GirisYap/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/GirisYap/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter" style="width:100%" ;>
        <div class="container-login100">
            <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                @if (ViewBag.status == "success")
                {
                    <div class="alert alert-info">
                        Şifreniz başarılı bir şekilde yenilenmiştir. Giriş syfasından yeni şifreniz ile giriş
                        yapınız!!!
                    </div>
                    <a class="btn btn-link" asp-action="Login" asp-controller="Home">Giril için tıklayınız</a>
                }
                else
                {

                    <form class="login100-form validate-form" asp-action="ResetPasswordConfirm" method="post">
                        <span class="login100-form-title p-b-55">
                            Yeni Şifre Oluşturun
                        </span>

                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Yeni Şifre Gereklidir!">
                            <input class="input100" asp-for="PasswordNew" placeholder="Yeni Şifre!">
                            <span asp-validation-for="PasswordNew" class="text-danger"></span>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <span class="lnr lnr-envelope"></span>
                            </span>
                        </div>

                        <div class="container-login100-form-btn p-t-25">
                            <input class="login100-form-btn" value="Yeni Şifre Oluştur" type="submit" />

                        </div>

                    </form>
                }
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="~/GirisYap/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/GirisYap/vendor/bootstrap/js/popper.js"></script>
    <script src="~/GirisYap/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/GirisYap/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/GirisYap/js/main.js"></script>

</body>
</html>