<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/AdminSideBar/css/style.css">
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url(/AdminSideBar/images/bg_1.jpg);">
                <div class="user-logo">
                    <div class="img" style="background-image: url(/AdminSideBar/images/logo.jpg);"></div>
                    <h3>Catriona Henderson</h3>
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a asp-action="Index" asp-controller="Admin"><span class="fa fa-home mr-3"></span> Ana Sayfa</a>
                </li>

                <li>
                    <a asp-action="Users" asp-controller="Admin"><span class="fa fa-gift mr-3"></span>Üyeler</a>
                </li>
                <li>
                    <a asp-action="Roles" asp-controller="Admin"><span class="fa fa-trophy mr-3"></span> Roller</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-support mr-3"></span> Support</a>
                </li>
                <li>
                    <a asp-action="LogOut" asp-controller="Member"><span class="fa fa-sign-out mr-3"></span> Çıkış Yap</a>
                </li>
            </ul>

        </nav>
  
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>
    </div>

    <script src="~/AdminSideBar/js/jquery.min.js"></script>
    <script src="~/AdminSideBar/js/popper.js"></script>
    <script src="~/AdminSideBar/js/bootstrap.min.js"></script>
    <script src="~/AdminSideBar/js/main.js"></script>
</body>
</html>