@model UdemyIdentity.ViewModels.RoleViewModel

@{
    ViewData["Title"] = "RoleUpdate";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}



<h3>Rol Güncelleme</h3>
<hr />
<div class="row">
    <div class="col-md-12" style="background-color:gray;">
        <form asp-action="RoleUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"  style="color:#fff" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Değişiklikleri Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



