@model UdemyIdentity.ViewModels.PasswordChangeViewModel
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}



<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Minimal and Clean Sign up / Login and Forgot Form by FreeHTML5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FreeHTML5.co" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="~/KullaniciSifreDegistirme/favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/KullaniciSifreDegistirme/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/KullaniciSifreDegistirme/css/animate.css">
    <link rel="stylesheet" href="~/KullaniciSifreDegistirme/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/KullaniciSifreDegistirme/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    @if (ViewBag.success == "true")
    {
        <div class="alert alert-success">Şifreniz Güncellenmiştir</div>
    }


    else
    {
        <div class="container">

            <div class="row">
                <div class="col-md-4 col-md-offset-4">

                    <!-- Start Sign In Form -->
                    <form asp-action="PasswordChange" method="post" class="fh5co-form animate-box">
                        <h2>Şifre Değiştirme</h2>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Eski Şifre</label>
                            <input asp-for="PasswordOld" class="form-control" placeholder="Eski Şifrenizi Giriniz!" id="password" autocomplete="off">
                            <span asp-validation-for="PasswordOld" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Yeni Şifre</label>
                            <input asp-for="PasswordNew" class="form-control" placeholder="Yeni Şifrenizi Giriniz!" id="password" autocomplete="off">
                            <span asp-validation-for="PasswordOld" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label for="re-password" class="sr-only">Onay Şifre</label>
                            <input asp-for="PasswordConfirm" class="form-control"placeholder="Onay Şifrenizi Giriniz!" id="re-password" autocomplete="off">
                            <span asp-validation-for="PasswordOld" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Şifreyi Değiştir" class="btn btn-primary">
                        </div>
                    </form>
                    <!-- END Sign In Form -->

                </div>
            </div>

        </div>
    }

    <!-- jQuery -->
    <script src="~/KullaniciSifreDegistirme/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/KullaniciSifreDegistirme/js/bootstrap.min.js"></script>
    <!-- Placeholder -->
    <script src="~/KullaniciSifreDegistirme/js/jquery.placeholder.min.js"></script>
    <!-- Waypoints -->
    <script src="~/KullaniciSifreDegistirme/js/jquery.waypoints.min.js"></script>
    <!-- Main JS -->
    <script src="~/KullaniciSifreDegistirme/js/main.js"></script>

</body>
</html>



